.DS_Store
dist

*/Modrinth/.packwizignore
*/Modrinth/options.txt
*/Modrinth/*.png
*/Modrinth/config/
*/Modrinth/journeymap/

*/CurseForge/.packwizignore
*/CurseForge/options.txt
*/CurseForge/*.png
*/CurseForge/config/
*/CurseForge/journeymap/